---
import CanvasPanel from "../components/CanvasPanel.astro";
import Sidebar from "../components/Sidebar.astro";

import "../styles/tabs.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>ShaderCoy</title>
        <meta name="description" content="ShaderCoy is a web-based shader editor and viewer." />
        <meta name="generator" content={Astro.generator} />

        <meta name="color-scheme" content="dark light" />
        <meta name="theme-color" content="#21252b" media="(prefers-color-scheme: dark)" />
        <meta name="theme-color" content="#eaeaeb" media="(prefers-color-scheme: light)" />
    </head>
    <body>
        {/* TODO: allow toggling class="reversed" in settings */}
        <main id="app">
            <CanvasPanel />
            <Sidebar />
        </main>
    </body>
</html>

<style>
    #app {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100svh;
        min-height: 100svh;
        max-height: 100svh;
    }
    #app.reversed {
        flex-direction: row-reverse;
    }

    @media screen and (max-width: 850px) {
        #app,
        #app.reversed {
            flex-direction: column;
        }
    }
</style>

<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@0..1");

    :root {
        --bg-dark: hsl(216, 13%, 15%);
        --bg-normal: hsl(220, 13%, 18%);
        --bg-light: hsl(220, 13%, 23%);

        --text: hsl(220.01, 13%, 66%);

        --bg-normal-hover: color-mix(in oklch, var(--bg-normal), var(--bg-light));

        --font-normal: "Roboto", sans-serif;
        --font-mono: "JetBrains Mono", monospace;
        --font-icons: "Material Symbols Outlined";

        --sidebar-preferred-width: 800px;
        --sidebar-min-width: 300px;
        --sidebar-width: min(var(--sidebar-preferred-width), max(var(--sidebar-min-width), 50vw));

        --canvas-height: 100%;
        --sidebar-height: 100%;
    }
    @media screen and (max-width: 850px) {
        :root {
            --canvas-height: min(100vw, 45svh);
            --sidebar-height: calc(100svh - var(--canvas-height));
        }
    }

    @media (prefers-color-scheme: light) {
        :root {
            --bg-dark: hsl(240, 2%, 92%);
            --bg-normal: hsl(0, 0%, 98%);
            --bg-light: hsl(0, 0%, 98%);

            --text: hsl(228, 8%, 24%);
        }
    }
    /* High contrast mode */
    @media (prefers-contrast: more) {
        :root {
            --bg-dark: #000;
            --bg-normal: #000;
            --bg-light: #000;

            --text: #fff;
        }
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html,
    body {
        width: 100%;
        height: 100%;
    }
    .sans-serif,
    body {
        font-family: var(--font-normal);
        color: var(--text);
        background: var(--bg-normal);
    }

    .cm-editor * {
        font-size: 13px;
        line-height: 1.2;
        &,
        .mono {
            font-family: var(--font-mono);
            font-variant-ligatures: normal;
        }
    }

    button,
    input[type="button"] {
        all: unset;
        cursor: pointer;
        background: var(--bg-light);
    }

    .material-symbols-outlined {
        font-family: var(--font-icons) !important;
        font-variation-settings: "FILL" 1;
    }
</style>
