---
import { Font } from "astro:assets";
import MetaTags from "@/components/MetaTags.astro";
import Sidebar from "@/components/sidebar/Sidebar.astro";
import Viewport from "@/components/viewport/Viewport.astro";

import "@/styles/global.css";
---

{/* TODO: Implement drag resizing */}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <MetaTags />

        <Font cssVariable="--font-cascadia" preload />
    </head>
    <body
        id="app"
        class:list={[
            "w-full h-svh flex flex-col md:flex-row",
            "bg-od-normal text-od-text font-mono",
        ]}
    >
        <div class="md:grow not-md:h-[calc(min(100vw,45svh)-30px)]">
            <Viewport />
        </div>
        <div class="md:w-100 lg:w-180 lg:min-w-180 not-md:grow">
            <Sidebar />
        </div>
    </body>
</html>
