---
import defaultFragSource from "@/scripts/shaders/defaultFrag.glsl?raw";
import defaultVertSource from "@/scripts/shaders/defaultVert.glsl?raw";
---

<canvas
    id="gl-canvas"
    data-paused="false"
    data-use-model="false"
    data-vertex={defaultVertSource}
    data-fragment={defaultFragSource}></canvas>
<div id="gl-canvas-error"></div>

<script>
    import { OpenGLCanvas, ErrorReporter } from "@/scripts/rendering/OpenGLCanvas";
    import applicationState from "@/scripts/state";

    const errorElement = document.getElementById("gl-canvas-error");
    if (!errorElement) {
        throw new Error("Error reporter element not found");
    }
    const canvasElement = document.getElementById("gl-canvas") as HTMLCanvasElement;
    if (!canvasElement) {
        throw new Error("OpenGL canvas element not found");
    }

    const errorReporter = new ErrorReporter(errorElement);
    const glCanvasInstance = new OpenGLCanvas(canvasElement, errorReporter);
    applicationState.openGLCanvas = glCanvasInstance;
    applicationState.errorReporter = errorReporter;

    let lastTime: DOMHighResTimeStamp = performance.now();
    function frameCallback(now: DOMHighResTimeStamp): void {
        const deltaTime: number = (now - lastTime) / 1000;
        lastTime = now;

        glCanvasInstance.render(deltaTime);
        window.requestAnimationFrame(frameCallback);
    }
    window.requestAnimationFrame(frameCallback);
</script>

<style>
    #gl-canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        touch-action: none;
        user-select: none;
    }
    #gl-canvas-error {
        display: none; /* Overriden by JS */

        position: absolute;
        --margin: 10px;
        --padding: 10px;

        top: var(--margin);
        right: var(--margin);
        max-width: calc(100% - var(--margin) * 2);
        max-height: min(400px, calc(100% - var(--margin) * 2));
        padding: var(--padding);
        overflow: auto;
        word-wrap: break-word;
        > pre {
            text-wrap: auto;
        }

        background-color: #200c;
        border: 1px solid red;
    }
    @media (prefers-color-scheme: light) {
        #gl-canvas-error {
            background-color: #fccc;
        }
    }
</style>
