---
import SettingsPanel from "@/components/SettingsPanel.astro";
import TexturePanel from "@/components/TexturePanel.astro";
---

<div id="sidebar">
    <div class="tab-bar">
        {/* TODO: Add more tabs for asset management */}
        <button
            id="sidebar-tab-fragment"
            class="tab wide-tab selectible-tab editor-tab active"
            data-buffer="fragment"
            data-tab-body="tab-body-editor"
        >
            <span class="icon material-symbols-outlined">manga</span>
            Fragment
        </button>
        <button
            id="sidebar-tab-vertex"
            class="tab wide-tab selectible-tab editor-tab"
            data-buffer="vertex"
            data-tab-body="tab-body-editor"
        >
            <span class="icon material-symbols-outlined">view_in_ar</span>
            Vertex
        </button>
        <button
            id="sidebar-tab-texture"
            class="tab wide-tab selectible-tab"
            data-tab-body="tab-body-texture"
        >
            <span class="icon material-symbols-outlined">image</span>
            Texture
        </button>

        <span class="push-right"></span>
        <!-- Push following buttons to the right -->
        <label id="codeUploadButton" for="codeUploadInput" class="tab square button">
            <span class="material-symbols-outlined">upload_file</span>
        </label>
        <input type="file" id="codeUploadInput" accept=".glsl,.frag,.fs" />

        <button
            id="settings-button"
            class="tab square selectible-tab"
            data-tab-body="tab-body-settings"
        >
            <span class="icon material-symbols-outlined">settings</span>
        </button>
    </div>
    <div id="sidebar-body">
        <!-- TODO: Try fix getting stuck during tab navigation -->
        <div class="tab-body active" id="tab-body-editor" data-current-buffer="fragment"></div>
        <div class="tab-body" id="tab-body-texture"><TexturePanel /></div>
        <div class="tab-body" id="tab-body-settings"><SettingsPanel /></div>
    </div>
</div>

<script>
    import { EditorView, keymap } from "@codemirror/view";
    import { EditorState, Compartment } from "@codemirror/state";
    import { indentUnit } from "@codemirror/language";
    import { indentWithTab, redo, toggleComment } from "@codemirror/commands";
    import { basicSetup } from "codemirror";

    import { glsl } from "@/scripts/editor/language/glsl";
    import defaultFragSource from "@/scripts/shaders/defaultFrag.glsl?raw";
    import defaultVertSource from "@/scripts/shaders/defaultVert.glsl?raw";
    import { FRAG_ATTR_KEY, VERT_ATTR_KEY } from "@/scripts/rendering/OpenGLCanvas";
    import applicationState from "@/scripts/state";
    import { oneDark, oneLight } from "@/scripts/editor/theme";

    type BufferId = "fragment" | "vertex";

    // TODO: Also store histories in a map
    const editorContentBuffers: Record<BufferId, string> = {
        fragment: defaultFragSource,
        vertex: defaultVertSource,
    };
    const bufferCanvasMap: Record<BufferId, string> = {
        fragment: FRAG_ATTR_KEY,
        vertex: VERT_ATTR_KEY,
    };

    const openGLCanvas = applicationState.openGLCanvas;
    const editorTabBody = document.getElementById("tab-body-editor")!;
    const editorTabs = document.querySelectorAll(".editor-tab") as NodeListOf<HTMLElement>;
    const selectibleTabs = document.querySelectorAll(".selectible-tab") as NodeListOf<HTMLElement>;
    const tabBodies = document.querySelectorAll(".tab-body") as NodeListOf<HTMLElement>;
    const codeUploadButton = document.getElementById("codeUploadButton") as HTMLInputElement;
    const codeUploadInput = document.getElementById("codeUploadInput") as HTMLInputElement;

    const themeCompartment = new Compartment();
    const tabSizeCompartment = new Compartment();
    const lineWrappingCompartment = new Compartment();

    const state = EditorState.create({
        doc: defaultFragSource,
        extensions: [
            basicSetup,
            glsl(),
            keymap.of([
                indentWithTab,
                { key: "Mod-Shift-z", run: redo, preventDefault: true },
                { key: "Mod-/", run: toggleComment, preventDefault: true },
            ]),
            // TODO: Bind tab to autocomplete

            themeCompartment.of(
                window.matchMedia("(prefers-color-scheme: dark)").matches ? oneDark : oneLight,
            ),
            tabSizeCompartment.of(indentUnit.of(" ".repeat(4))),
            lineWrappingCompartment.of([]), // No wrapping by default
            // TODO: Style search/replace

            EditorView.updateListener.of((update) => {
                if (update.docChanged) {
                    const newCode = update.state.doc.toString();
                    if (!openGLCanvas) {
                        console.error("No canvas found");
                        return;
                    }
                    // Update canvas attributes based on the current buffer
                    const currentBuffer = editorTabBody.dataset.currentBuffer as BufferId;
                    openGLCanvas.canvas.setAttribute(bufferCanvasMap[currentBuffer], newCode);
                    editorContentBuffers[currentBuffer] = newCode;
                }
            }),
        ],
    });

    const editorContainer = document.getElementById("tab-body-editor")!;

    const view = new EditorView({
        state,
        parent: editorContainer,
    });

    // view.dispatch({
    //     // Toggle line wrapping
    //     effects: lineWrappingCompartment.reconfigure(
    //         lineWrappingCompartment.get(state) === EditorView.lineWrapping
    //             ? []
    //             : [EditorView.lineWrapping],
    //     ),
    // });

    // Listen for theme changes
    window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", (event) => {
        const newTheme = event.matches ? oneDark : oneLight;
        view.dispatch({ effects: themeCompartment.reconfigure(newTheme) });
    });

    selectibleTabs.forEach((tab) => {
        tab.addEventListener("click", () => {
            const tabBodyId = tab.dataset.tabBody;
            codeUploadButton.classList.toggle("hidden", tabBodyId !== "tab-body-editor");
            if (!tabBodyId) {
                console.error(`Editor tab ${tab.id} must have a valid data-tab-body attribute`);
                return;
            }
            const tabBody = document.getElementById(tabBodyId)!;
            console.log(`Switching to tab body: ${tabBodyId}`);
            console.log(`Clicked tab: ${tab.id || tab.textContent}`);

            tabBodies.forEach((t) => t.classList.remove("active"));
            tabBody.classList.add("active");

            selectibleTabs.forEach((t) => t.classList.remove("active"));
            tab.classList.add("active");
        });
    });

    editorTabs.forEach((tab) => {
        tab.addEventListener("click", () => {
            const newBufferId = tab.dataset.buffer as BufferId | undefined;
            if (!newBufferId) {
                console.error(`Editor tab ${tab.id} must have a valid data-buffer attribute`);
                return;
            }
            const oldBuffer = editorTabBody.dataset.currentBuffer as BufferId;
            const code = editorContentBuffers[newBufferId];

            editorContentBuffers[oldBuffer] = view.state.doc.toString();

            editorTabBody.dataset.currentBuffer = newBufferId;
            view.dispatch({
                changes: {
                    from: 0,
                    to: view.state.doc.length,
                    insert: code,
                },
            });
        });
    });

    codeUploadInput.onchange = (event) => {
        const button = event.target as HTMLInputElement | null;
        if (!button?.files?.length) return;
        const file = button.files[0];
        // Load file content into the editor
        const reader = new FileReader();
        reader.onload = () => {
            const code = reader.result as string;
            view.dispatch({
                changes: {
                    from: 0,
                    to: view.state.doc.length,
                    insert: code,
                },
            });
        };
        reader.readAsText(file);
    };
</script>

<style>
    #sidebar {
        --body-height: calc(var(--sidebar-height) - var(--icon-size));

        flex-grow: 0;
        flex-shrink: 0;
        width: var(--sidebar-width);
        border-left: 1px solid var(--bg-dark);
    }

    #sidebar-body {
        height: var(--body-height);
        background: var(--bg-normal);
        position: relative;
        > * {
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    @media screen and (max-width: 850px) {
        #sidebar {
            min-width: unset;
            width: 100%;
            border-left: none;
        }
    }
    @media screen and (max-width: 420px) {
        .wide-tab {
            .icon {
                display: none;
            }
        }
    }

    .selectible-tab:not(.active) {
        background: var(--bg-dark);
    }
    .selectible-tab:not(.active):hover {
        background: color-mix(in oklch, var(--bg-normal), var(--bg-dark));
    }
    .wide-tab > .icon {
        margin-right: 8px;
    }

    .tab-body:not(.active) {
        display: none;
    }

    #tab-body-editor {
        .cm-editor {
            height: 100%;
            max-height: 100%;
        }
        .cm-scroller {
            overflow: auto;
        }
        .cm-content {
            /* I prefer having the last line not be at the absolute bottom of my monitor */
            padding-bottom: 4em;
        }
    }

    .hidden {
        display: none;
    }
</style>
